.grid {
 height: 100%;
}
background-color: #DADADA;
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}

.formStyle{
 margin-top: 60px;
 max-width: 450px;
 min-width: 350px;
}

.logo{
 margin-left:20px;
}
