<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/home" class="brand-logo logo">cfh.io</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="header item" routerLinkActive="active" routerLink="/home/">Home</a></li>
            <li><a class="header item" routerLinkActive="active" routerLink="/auth/signin">Login</a></li>
            <li class="active"><a class="header item" routerLinkActive="active" routerLink="/auth/signup">Signup</a></li>
        </ul>
    </div>
</nav>
<div class="valign-wrapper">

    <div class="z-depth-1 grey lighten-4 row valign formStyle">
        <h5 class="blue-text center-align">Register</h5>

        <form class="col s12" method="post">

            <div class='row'>
                <div class='input-field col s12'>
                    <input type='text' name='name' id='name' [(ngModel)]="name"/> {{name}}
                    <label for='name'>Enter Your Name</label>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    <input type='email' name='email' id='email' [(ngModel)]="email" />
                    <label for='email'>Enter Your Email</label>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    <input type="password" name='password' id='password' [(ngModel)]="password" />
                    <label for='password'>Enter Your Password</label>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    <input type='password' name='confirm_password' id='confirm_password'/>
                    <label for='confirm_password'>Re-enter Your Password</label>
                </div>
            </div>

            <br />

            <div class='row'>
                <button (click)="onSubmit($event)" class='col s12 btn btn-large waves-effect blue'>Register</button>
            </div>
        </form>

        <h6 class="center-align">Already a member?  <a href="/auth/signin">Signin</a></h6>
    </div>


</div>
