<div class="row" style="margin-top:20px;">
    <div class="col s12">
        <img src="./resources/images/cave.png" class="fit-image"/>
        <h5>Howdy!! would you like to invite some friends?</h5>
    </div>
    <div class="col s12">
        <button onclick="modalOpen()" data-target="invite-user" class="waves-effect deep-purple lighten-1 waves-light btn modal-trigger">Invite via User's name</button>
    </div>
    <div class="col s12" style="margin-top:15px">
        <a class="waves-effect waves-light btn">Invite via Email</a>
    </div>
</div>

<div id="invite-user" class="modal fit-modal">
    <div class="modal-content modal-height">
      <h5>Invite by user's name</h5>
      <input class="input-box" id="type-user" [(ngModel)]="userInput" #ctrl='ngModel' placeholder="Type user's name" />
      <ul class="list-friends">
          <li *ngFor='let friends of friendsList'>
              <div class="row">
                  <div class="col s6">
                     <span>{{ friends.name }}</span>
                  </div>
                  <div>
                      
                  </div>
              </div>
          </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button (click)="showNoti()" class="waves-effect waves-green btn-flat">Send Invites</button>
    </div>
  </div>