<div class="col s12 card blue-grey darken-1 row" style="padding:0">
    <div class="card-content white-text row" style="text-align:center;margin-bottom:0" >
        <span class="card-title" style="font-weight:bold">Time Remaining</span>
        <div class="col s12" style="height:10em; background-color:#fff"> 
            <span class="timer">01</span>
        </div>
    </div>
    <div class="card-action" style="text-align:center;color:#fff;padding:.2em">
        <span style="font-size:1.2em"><b>Rounds Played: 7</b></span>
    </div>
</div>